# ignore node_modules
node_modules/

# Ignore macOS specific files
.DS_Store

# Ignore environment specific files
.env

# Ignore dist files
/dist/

# Ignore API-documentation
src/APIs_Documentation/

/API-test/